<section class="section section-lg pt-lg-10%">
<div class="container">
        <div class="row row-grid align-items-center my-md">
          <div class="col-lg-6">
            <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3>
            <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
          </div>
          <div class="col-lg-6 text-lg-center btn-wrapper">
                <i class="fa fa-facebook-square" style="font-size:34px"></i>
                <i class="fa fa-twitter-square" style="font-size:34px"></i>
                <i class="fa fa-github-square" style="font-size:34px"></i>
                <i class="fa fa-dribble-square" style="font-size:34px"></i>
          </div>
        </div>
        <hr>
        <div class="row align-items-center justify-content-md-between">
          <div class="col-md-5">
            <div class="copyright">
              © 2019 <a href="#" target="_blank">Creative Tim</a>.
            </div>
          </div>
          <div class="col-md-7">
            <ul class="nav nav-footer justify-content-end">
              <li class="nav-item">
                <a href="#" class="nav-link" target="_blank">Creative Tim</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" target="_blank">About Us</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" target="_blank">Blog</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" target="_blank">MIT License</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      </section>